/*** Body ***/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/*** Headers ***/
h1 {
    background-color: #0084ff;
    grid-area: header;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 15px;
}

/*** Top navigation bar ***/

/* Background color */
.nav {
    overflow: hidden;
    background-color: #339DFF;
}
    
/* Link style inside the nav bar */
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    
/* Color of links on hover */
.nav a:hover {
    background-color: #ddd;
    color: black;
}
    
/* Color the active/current link */
.nav a.active {
    background-color: #006acc;
    color: white;
}

/* Search box inside the navigation bar */
.nav .search-container {
    float: right;
}

.nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav .search-container button:hover {
    background: #ccc;
}

/* When the screen is less than 600px wide, stack the links 
and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .nav .search-container {
      float: none;
    }
    .nav a, .nav input[type=text], .nav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .nav input[type=text] {
      border: 1px solid #ccc;  
    }
  }

/* The sticky class is added to the navbar with JS when it 
reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Top padding to the page content to prevent sudden quick movement */
.sticky + .content {
    padding-top: 60px;
}


